.home-page {
  padding: 100px 0 0 0;
  height: 100vh;
  background-color: #0a192f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6 {
  flex: 0 0 50%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.profileimg {
  display: block;
  border: 7px solid lightblue;
  border-radius: 100%;
  margin-left: 322px;
  margin-top: 25px;
  height: 35vh;
}

img {
  vertical-align: middle;
}

.info {
  margin: 20px 0 15vh;
}

.front-sec {
  font-size: 1.3rem;
  font-weight: 500;
  color: pink;
  line-height: 1.2;
  margin-bottom: .5rem;
}

.name {
  color: #ccd6f6;
  font-weight: 700;
  font-size: 4rem;
  font-family: 'Gilroy';
  padding: 12px 0;
  letter-spacing: .2rem;
  animation: fadeIn 2s ease-in-out;
}


.about-you {
  font-size: 1.8rem;
  padding-bottom: 30px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  color: #ccd6f6;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}

.btn-outline-dark {
  color: #788492;
  border-color: #788492;
  text-decoration: none;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: white;
}

/* Keyframe animations */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Typewriter effect */
@keyframes typing {
  0.0000%,
  27.3488% {
    content: "";
  }
  1.1395%,
  26.2093% {
    content: "S";
  }
  2.2791%,
  25.0698% {
    content: "S Ma";
  }
  3.4186%,
  23.9302% {
    content: "S Man";
  }
  4.5581%,
  22.7907% {
    content: "S Mani";
  }
  5.6977%,
  21.6512% {
    content: "S Manis";
  }
  6.8372%,
  20.5116% {
    content: "S Manish";
  }
  7.9767%,
  19.3721% {
    content: "N";
  }
  9.1163%,
  18.2326% {
    content: "Na";
  }
  10.2558%,
  17.0930% {
    content: "Nair";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}
@media screen and (max-width: 850px) {

  section.home-page {
    padding: 0;
  }

  .container {
    max-width: 720px;
  }

  .profileimg {
    height: 25vh;
    margin: auto;
  }

  .info {
    margin-top: 25px;
  }

  .row {
    text-align: center;
    flex-direction: column;
  }

  .front-sec {
    font-size: 1rem;
  }

  .name {
    font-size: 3rem;
  }

  .about-you {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 570px) {
    .container {
      max-width: 540px;
    }
  }


}